.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tiles {
    display: flex;
    flex-wrap: wrap;
}
.selected {
    margin: 5px 0 1em 0;
}